@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron text-center">
    <h1>Let's explore the Athlete Tracker</h1>
  </div>
  <div>
    <p>@Html.ActionLink("See all sponsors", "Index", "Sponsors")</p>
    <p>@Html.ActionLink("See all athletes", "Index", "Athletes")</p>
    <p>@Html.ActionLink("See all sport", "Index", "Sports")</p>
  </div>
</div>